*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    background-color: darkgray;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.row{
    display: flex;
    flex-wrap:wrap ;
}
.inline{
    display: flex;
    
}
.container{
    max-width: 90vw;
    margin: 100px auto 0 auto;
    
}
.col100{
    width: 100%;
}
.col-sm{
    width: 10vw;
}
.col-big{
    width: 40vw;
}
.img{
    height: 150px;
    z-index: 1;
    
    bottom: 0;
}
.img-cont{
    position: relative;
    width: fit-content;
    display: inline-block;
    margin: 10px 10px;
}
.black{
    background-color: black;
}
.label{
    background-color: rgba(128, 128, 128, 0.8);
    color: white;
    position: absolute;
    left: 0;
    bottom: 18px;
    z-index: 2;
    padding: 5px 10px;
}
